@import "~bootstrap/scss/bootstrap.scss";



.events{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0 5em;

    .event{
        @extend .card;

        margin-top: 2em;

        img {
            // @extend .card-img-middle;
            width: 200px;
            height: auto;
            margin: 100% auto;
        }
    }
}
